@import "mixin/color";
@import "mixin/space-between";
@import "mixin/nav-btn";

* {
  box-sizing: border-box;
}

// login&logout
.header {
  height: 50px;
  width: 100vw;
  @include space-between();

  &__title {
    width: 30%;
    padding-left: 10px;
    position: relative;
    line-height: 1.4;
    -webkit-box-reflect: below -40px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
    
    &--name {
      font-weight: bold;
      font-size: 26px;
      text-decoration: none;
      color: $fontColorBlack;
    }
  }

  &__search {
    width: 50%;
    padding-top: 10px;
    display: flex;
    
    &--text {
      width: 100px;
      display: inline-block;
      color: $fontColorBlack;
    }

    &--icon {
      display: inline-block;
      color: $fontColorBlack;
    }
  }

  &__nav {
    width: 20%;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;

// only_login
    &--mypage {
      
      .mypage-btn {
        margin: 5px 10px 0 0;
        @include nav-btn();
      }
      .mypage-btn:before {
        @include nav-btn_before();
      }
      .mypage-btn:hover:before {
        @include nav-btn_hover_before();
      }
    }

    &--logout {

      .logout-btn {
        margin-top: 5px;
        @include nav-btn();
      }
      .logout-btn:before {
        @include nav-btn_before();
      }
      .logout-btn:hover:before {
        @include nav-btn_hover_before();
      }
    }

// only_logout
    &--new {

      .new-btn {
        margin: 5px 10px 0 0;
        @include nav-btn();
      }
      .new-btn:before {
        @include nav-btn_before();
      }
      .new-btn:hover:before {
        @include nav-btn_hover_before();
      }
    }

    &--login {

      .login-btn {
        margin-top: 5px;
        @include nav-btn();
      }
      .login-btn:before {
        @include nav-btn_before();
      }
      .login-btn:hover:before {
        @include nav-btn_hover_before();
      }
    }
  }
}
