.acount-edit
  %h2.acount-edit__title アカウント編集
  .acount-edit__link
    = link_to "#", class: "acount-edit__btn" do
      = icon('fas', 'edit', class: "acount-edit__btn--icon")
      %span<>
        アカウント編集はこちらから