.side-bar

  .side-bar__head

    .side-bar__head--title
      クライアント登録
    .side-bar__head--show
      クライアントの一覧表示
      -# ページリンクで最終更新日を表示させたい

  .side-bar__body

    .side-bar__body--title
      クライアントリスト
    .side-bar__body--list

      %ul.client__list

        %li.list__info

          .list__info--name
            ◯◯株式会社
          .list__info--edit
            編集
            -# アイコンにする
            