@import "mixin/color";
@import "mixin/space-between";

* {
  box-sizing: border-box;
}

// side-bar
.side-bar {
  width: 300px;
  height: 100vh;
  
  &__head {
    height: 100px;
    background-color: #006400;
    padding: 10px 20px;
    font-size: 18px;

    &--title {
      color: $fontColorFlesh;
      @include space-between();

      .title__name {
      }

      .title__link {
        
        i {
          color: $fontColorFlesh;
        }
      }
    }

    &--show {
      color: $fontColorFlesh;
      @include space-between();

      .show__name {
      }

      .show__link {

        i {
          color: $fontColorFlesh;
        }
      }
    }
  }

  &__body {
    height: calc(100vh - 100px);
    background-color: #228B22;
    padding: 10px 20px;

    &--title {
      color: $fontColorFlesh;
      font-size: 18px;
    }

    &--list {

      .client__list {

        .list__info {
          @include space-between();

          &--name {
            color: $fontColorFlesh;
          }

          &--edit {

            i {
              color: $fontColorFlesh;
            }
          }
        }
      }
    }
  }
}
