@import "mixin/color";
@import "mixin/space-between";
@import "mixin/main-document-name";
@import "mixin/nav-btn";

* {
  box-sizing: border-box;
}

// ページ全体
.wrapper__toppage {
  display: flex;
  height: calc(100vh - 50px - 30px);
}

// side-bar
.side-bar {
  width: 300px;
  height: 100%;
  
  &__header {
    height: 100px;
    background-color: #006400;
    padding: 10px 20px;
    font-size: 18px;

    &--title {
      color: $fontColorFlesh;
      @include space-between();

      .title__name {
      }

      .title__link {
        
        i {
          color: $fontColorFlesh;
        }
      }
    }

    &--show {
      color: $fontColorFlesh;
      @include space-between();

      .show__name {
      }

      .show__link {

        i {
          color: $fontColorFlesh;
        }
      }
    }
  }

  &__body {
    height: calc(100% - 100px);
    background-color: #228B22;
    padding: 10px 20px;

    &--title {
      height: 40px;
      color: $fontColorFlesh;
      font-size: 18px;
      padding-bottom: 20px;
    }

    &--list {
      height: calc(100% - 100px - 40px);
      overflow: scroll;

      .client__list {
        display: flex;
        flex-direction: column;
        
        .list__info {
          @include space-between();
          padding-bottom: 20px;

          &--name {
            color: $fontColorFlesh;
            cursor: pointer;
          }

          &--nav {
            display: flex;

            .nav__edit {
              margin-right: 20px;

              i {
                color: $fontColorFlesh;
              }
            }

            .nav__edit {

              i {
                color: $fontColorFlesh;
              }
            }
          }
        }
      }
    }
  }
}

// main-document
.main-document {
  width: calc(100vw - 300px);
  height: 100%;

  &__header {
    height: 100px;
    background-color: $backgroundColorGray;
    padding: 10px 20px;

    &--title {
      width: 200px;
      border-bottom: $fontColorBlack 2px solid;
      
      .title__name {
        font-size: 25px;
        color: $fontColorBlack;
      }
    }
  }

  .main-document__container {
    display: flex;
    height: calc(100% - 100px - 50px);
    background-color: #D3D3D3;

    &--left {
      width: 34%;

      .left__title {
        height: 60px;

        &--name {
          font-weight: bold;
          @include main-document-name();
        }
      }

      .left__box {
        height: calc(100vh - 100px - 50px - 60px);

        .quotation__list {
          
          &--all {
            @include space-between();
            color: $fontColorBlack;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 16px;
            
            .quotation__list--name {
              width: 50%;
            }
  
            .quotation__list--date {
              width: 50%;
            }
          }
        }
      }
    }

    &--center {
      width: 34%;
      border-left: $fontColorBlack 1px dashed;

      .center__title {
        height: 60px;

        &--name {
          font-weight: bold;
          @include main-document-name();
        }
      }

      .center__box {
        height: calc(100vh - 100px - 50px - 60px);

        .minutes__list {

          &--all {
            @include space-between();
            color: $fontColorBlack;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 16px;
            
            .minutes__list--name {
              width: 50%;
            }
  
            .minutes__list--date {
              width: 50%;
            }
          }
        }
      }
    }

    &--right {
      width: 32%;
      border-left: $fontColorBlack 1px dashed;

      .right__title {
        height: 60px;

        &--name {
          font-weight: bold;
          @include main-document-name();
        }
      }

      .right__box {
        height: calc(100vh - 100px - 50px - 60px);

        .other__list {

          &--all {
            @include space-between();
            color: $fontColorBlack;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 16px;
            
            .other__list--name {
              width: 50%;
            }
  
            .other__list--date {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .main-document__footer {
    height: 50px;
    background-color: #A9A9A9;

    &--upload {
      float: right;
      padding: 12px 30px 5px 0px;
      @include space-between();

      .upload {
        @include nav-btn();
        width: 200px;
        height: 30px;
        color: $fontColorBlack;
        z-index: 1;
      }
    }
  }
}
