@import "mixin/color";
@import "mixin/space-between";
@import "mixin/main-document-name";
@import "mixin/nav-btn";
@import "mixin/title-border";
@import "mixin/list-box";

* {
  box-sizing: border-box;

  body {
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #85d8ce 10%, white 90%);
    background: -moz-linear-gradient(45deg, #85d8ce 10%, white 90%);
    background: -ms-linear-gradient(45deg, #85d8ce 10%, white 90%);
    background: -o-linear-gradient(45deg, #85d8ce 10%, white 90%);
    background: linear-gradient(45deg, #85d8ce 10%, white 90%);
   }
}

// ページ全体
.wrapper__toppage {
  display: flex;
  height: calc(100vh - 50px - 30px);
}

// side-bar
.side-bar {
  width: 300px;
  height: 100%;
  
  &__header {
    height: 100px;
    padding: 10px 20px;
    font-size: 18px;

    &--title {
      margin-top: 10px;
      @include space-between();

      .title__name {
        @include nav-btn();
        z-index: 1;
      }
      .title__name:before {
        @include nav-btn_before();
      }
      .title__name:hover:before {
        @include nav-btn_hover_before();
      }
    }

    &--show {
      margin-top: 10px;
      @include space-between();

      .show__name {
        @include nav-btn();
        z-index: 1;
      }
      .show__name:before {
        @include nav-btn_before();
      }
      .show__name:hover:before {
        @include nav-btn_hover_before();
      }
    }
  }

  &__body {
    height: calc(100% - 100px);
    padding: 10px 20px;

    &--title {
      padding-bottom: 20px;
      margin-top: 10px;
      @include nav-btn();
      z-index: 1;
    }
    &--title:before {
      @include nav-btn_before();
    }
    &--title:hover:before {
      @include nav-btn_hover_before();
    }

    &--list {
      height: calc(100% - 100px - 40px);
      overflow: scroll;
      
      .client__list {
        display: flex;
        flex-direction: column;
        
        .list__info {
          @include space-between();
          padding-top: 20px;

          &:hover {
            border-bottom: 1px solid $fontColorBlack;
          }
          
          &--name {
            width: 50%;
            color: $fontColorBlack;
            cursor: pointer;
          }

          &--show {
            cursor: pointer;
          }
          
          .show-link {
            color: $fontColorBlack;
            text-decoration: none;

          }

          &--delite {
            margin-right: 20px;

            i {
              color: $fontColorBlack;
            }
          }
        }
      }
    }
  }
}

// main-document
.main-document {
  width: calc(100vw - 300px);
  height: 100%;

  &__header {
    height: 100px;
    padding: 10px 20px;

    &--title {
      width: 200px;
      @include title-border();
      
      .title__name {
        font-size: 25px;
        color: $fontColorBlack;
      }
    }
  }

  .main-document__container {
    display: flex;
    height: calc(100% - 100px - 60px);

    &--left {
      width: 33.2%;
      
      .left__title {
        height: 40px;

        &--name {
          @include main-document-name();
        }
      }

      .left__box {
        height: calc(100vh - 100px - 50px - 60px);

        .quotation__list {

          &--all {
            @include list-box();
            @include space-between();
          }

          &--bookmark {
            margin-left: 10px;
            
            .bookmark__icon {
              i {
                display: block;
                text-decoration: none;
                color: $bookmarkColoryellow;
                padding-left: 10px;
                padding-top: 5px;
                font-size: 18px;
              }
            }
          }

          .list__nav {
            text-decoration: none;
          }
          
          &--nav {
            width: 380px;
            @include space-between();
            color: $fontColorBlack;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 16px;
            
            .quotation__list--name {
              width: 40%;
            }
  
            .quotation__list--date {
              width: 40%;
            }
          }
        }
      }
    }

    &--center {
      width: 33.2%;

      .center__title {
        height: 40px;

        &--name {
          @include main-document-name();
        }
      }

      .center__box {
        height: calc(100vh - 100px - 50px - 60px);

        .minutes__list {

          &--all {
            @include list-box();
            @include space-between();
          }

          &--bookmark {
            margin-left: 10px;
            
            .bookmark__icon {
              i {
                display: block;
                text-decoration: none;
                color: $bookmarkColoryellow;
                padding-left: 10px;
                padding-top: 5px;
                font-size: 18px;
              }
            }
          }

          .list__nav {
            text-decoration: none;;
          }

          &--nav {
            width: 380px;
            @include space-between();
            color: $fontColorBlack;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 16px;
            
            .minutes__list--name {
              width: 40%;
            }
  
            .minutes__list--date {
              width: 40%;
            }
          }
        }
      }
    }

    &--right {
      width: 33.2%;

      .right__title {
        height: 40px;

        &--name {
          @include main-document-name();
        }
      }

      .right__box {
        height: calc(100vh - 100px - 50px - 60px);

        .other__list {

          &--all {
            @include list-box();
            @include space-between();
          }

          &--bookmark {
            margin-left: 10px;
            
            .bookmark__icon {
              i {
                display: block;
                text-decoration: none;
                color: $bookmarkColoryellow;
                padding-left: 10px;
                padding-top: 5px;
                font-size: 18px;
              }
            }
          }

          .list__nav {
            text-decoration: none;;
          }

          &--nav {
            width: 380px;
            @include space-between();
            color: $fontColorBlack;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 16px;
            
            .other__list--name {
              width: 40%;
            }
  
            .other__list--date {
              width: 40%;
            }
          }
        }
      }
    }
  }

  .main-document__footer {
    height: 50px;

    &--upload {
      float: right;
      padding: 12px 30px 5px 0px;
      @include space-between();

      .upload {
        @include nav-btn();
        z-index: 1;
      }
      .upload:before {
        @include nav-btn_before();
      }
      .upload:hover:before {
        @include nav-btn_hover_before();
      }
    }
  }
}
