@import "mixin/color";
@import "mixin/title-border";
@import "mixin/submit-btn";
@import "mixin/space-between";

// ページ全体
.wrapper__mypage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px - 30px);
}

// acount-edit
.acount-edit {
  height: 150px;
  width: 100vw;

  &__title {
    margin-left: 30px;
    padding-top: 15px;
    font-size: 25px;
    width: 180px;
    @include title-border();
  }

  &__link {
    @include submit-btn();
    cursor: pointer;
    margin: 5px auto;
    margin-left: 30px;
    margin-top: 15px;
    background-color: #fff;
    display: block;
    
    a {
      text-decoration: none;
      color: $fontColorBlack;
    }
  }
  
  &__link:hover {
    background-color: gray;
  }
}

// main-contents
.main-contents {
  display: flex;
  height: calc(100vh - 50px - 30px - 150px);

  .upload-contents {
    width: 50%;

    &__title {
      margin-left: 30px;
      padding-top: 15px;
      font-size: 20px;
      width: 230px;
      @include title-border();
    }

    .quotation__recent {
      margin-left: 30px;

      &--title {
        width: 50px;
        margin-top: 10px;
        border-bottom: solid 3px lightgray;

      }

      .quotation__list {
        
        &--nav {
          width: 50%;
          color: $fontColorBlack;
          font-weight: bold;
          margin-left: 15px;
          margin-top: 10px;
          @include space-between();
        }
        
        a {
          text-decoration: none;
        }
      }

      .quotation__notice {
        color: $fontColorBlack;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
      }
    }

    .minute__recent {
      margin-left: 30px;

      &--title {
        width: 50px;
        margin-top: 10px;
        border-bottom: solid 3px lightgray;
      }

      .minute__list {
        
        &--nav {
          width: 50%;
          color: $fontColorBlack;
          font-weight: bold;
          margin-left: 15px;
          margin-top: 10px;
          @include space-between();
        }
        
        a {
          text-decoration: none;
        }
      }

      .minute__notice {
        color: $fontColorBlack;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
      }
    }

    .other__recent {
      margin-left: 30px;

      &--title {
        width: 50px;
        margin-top: 10px;
        border-bottom: solid 3px lightgray;
      }

      .other__list {
        
        &--nav {
          width: 50%;
          color: $fontColorBlack;
          font-weight: bold;
          margin-left: 15px;
          margin-top: 10px;
          @include space-between();
        }
        
        a {
          text-decoration: none;
        }
      }

      .other__notice {
        color: $fontColorBlack;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }

  .important-contents {
    width: 50%;

    &__title {
      padding-top: 15px;
      font-size: 20px;
      width: 230px;
      @include title-border();
    }

    .quotation__bookmark {

      &--title {
        width: 50px;
        margin-top: 10px;
        border-bottom: solid 3px lightgray;

      }
      .quotation__list {
      
        &--nav {
          width: 50%;
          color: $fontColorBlack;
          font-weight: bold;
          margin-left: 15px;
          margin-top: 10px;
          @include space-between();
        }
        
        a {
          text-decoration: none;
        }
      }

      .quotation__notice {
        color: $fontColorBlack;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
      }
    }

    .minute__bookmark {

      &--title {
        width: 50px;
        margin-top: 10px;
        border-bottom: solid 3px lightgray;

      }

      .minute__list {
        
        &--nav {
          width: 50%;
          color: $fontColorBlack;
          font-weight: bold;
          margin-left: 15px;
          margin-top: 10px;
          @include space-between();
        }

        a {
          text-decoration: none;
        }
      }

      .minute__notice {
        color: $fontColorBlack;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
      }
    }

    .other__bookmark {

      &--title {
        width: 50px;
        margin-top: 10px;
        border-bottom: solid 3px lightgray;
      }

      .other__list {
        
        &--nav {
          width: 50%;
          color: $fontColorBlack;
          font-weight: bold;
          margin-left: 15px;
          margin-top: 10px;
          @include space-between();
        }
        
        a {
          text-decoration: none;
        }
      }

      .other__notice {
        color: $fontColorBlack;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }
}
