$fontColorFlesh: rgb(255, 255, 223);  //font文字色（肌色）
$fontColorBlack: #222222;             //font文字色（黒色）
$backgroundColorGray: #F5F5F5;        //back背景色（灰色）
$bookmarkColoryellow: #FFD700;        //icon文字色（黄色）
